<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meine Taverne</title>
    <link rel="stylesheet" href="css/mvp.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Reservieren</li>
                <li><a href="/reservationlistview">Reservationsliste</a></li>
                <li><a href="/foodbackview">Foodback</a></li>
                <li><a href="/contactview">Kontakt</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        <h1>Reservation erfassen</h1>
        <section>
            <h3>Bitte Formular für die Reserviation ausfüllen:</h3>
                <form th:object="${reservation}" th:action="@{/addreservation}" method="post" novalidate>
                    <label for="lastName">Name:</label>
                    <input id="lastName" type="text" th:field="*{lastName}" size="20" placeholder="Meier" maxlength="12" required pattern="[A-Z][a-zäöü]*(([\-][A-Z])|())[a-zäöü]*"><br>
                    <b th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" ></b>
                    <label for="firstName">Vorname:</label>
                    <input id="firstName" type="text" th:field="*{firstName}" size="20" placeholder="Max" maxlength="12" required pattern="[A-Z]{1}[a-zäöü]*">
                    <b th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" ></b>
                    <label for="phone">Tel Nummer:</label>
                    <input id="phone" type="text" name="phone" th:field="*{phone}" size="20" placeholder="+41791234567" required>
                    <b th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></b>
                    <label for="reservations">Für wieviel Gäste möchten Sie reservien:</label>
                    <input id="reservations" type="text" th:field="*{reservations}" size="20" placeholder="4" min="1" max="8" required>
                    <label for="reservationDate">Datum</label>
                    <!-- https://stackoverflow.com/questions/32378590/set-date-input-fields-max-date-to-today -->
                    <input id="reservationDate" type="date" th:field="*{reservationDate}" size="20" placeholder="01.01.2020" min="2022-04-03" max="2022-12-31" onfocus="this.min=new Date().toISOString().split('T')[0]"required>
                    <b th:if="${#fields.hasErrors('reservationDate')}" th:errors="*{reservationDate}" ></b>
                    <p>Welche Menüwahl möchten Sie treffen</p>
                    <label>Apéro</label>
                    <input type="checkbox" th:field="*{dish}" value="apero">
                    <label>Vorspeise</label>
                    <input type="checkbox" th:field="*{dish}" value="vorspeise">
                    <label>Hauptspeise</label>
                    <input type="checkbox" th:field="*{dish}" value="hauptgang">
                    <label>Dessert</label>
                    <input type="checkbox" th:field="*{dish}"  value="desert">
                    <p>Wählen Sie Ihr Konsumverhalten:</p>
                    <input type="radio" th:field="*{eatingHabit}" value="vegi">
                    <label>Vegetarier/in</label><br>
                    <input type="radio" th:field="*{eatingHabit}" value="vegan">
                    <label>Veganer/in</label><br>
                    <input type="radio" th:field="*{eatingHabit}" value="meatlover">
                    <label>Fleischesser/in</label><br>
                    <label id="notes" for="notes">Bemerkung:</label>
                    <textarea th:field="*{notes}" cols="40" rows="5"></textarea>
                    <button type="submit">Submit</button>
                </form>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            <small>Restaurant Hohliebestübli Adelboden: https://www.hohliebestuebli.ch</small>
        </p>
    </footer>
</body>
</html>
